<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <h1>Tobias Willhorn</h1>
    <span class="spacer"></span>
    <div *ngIf="environment.desktop">
      <button mat-icon-button (click)="minimizeWindow()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="maximizeWindow()">
        <!--      <mat-icon>crop_din</mat-icon>-->
        <mat-icon>filter_none</mat-icon>
      </button>
      <button mat-icon-button (click)="closeWindow()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar class="app-navtabs">
  <a mat-tab-link [routerLink]="'/dashboard'" routerLinkActive #rla7="routerLinkActive" [active]="rla7.isActive">Tableau de bord</a>
  <a mat-tab-link [routerLink]="'/administration'" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Administration</a>
  <a mat-tab-link [routerLink]="'/employes'" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">Employés</a>
  <a mat-tab-link [routerLink]="'/achat'" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Achat</a>
  <a mat-tab-link [routerLink]="'/vente'" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">Vente</a>
  <a mat-tab-link [routerLink]="'/stock'" routerLinkActive #rla6="routerLinkActive" [active]="rla6.isActive">Stock</a>
  <a mat-tab-link [routerLink]="'/parametrage'" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">Paramétrage</a>
</nav>
<router-outlet></router-outlet>
