.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.app-navtabs {
  background: #9c27b0;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.68);
}

.mat-tab-header {
  top: 64px;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 1000;
}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none !important;
}

.mat-tab-link {
  color: white !important;
  opacity: 0.9 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #f3e5f5;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row {
  padding: 0 5px 0 16px;
}

/*# sourceMappingURL=with-topbar.component.css.map */
