<mat-card>
  <mat-card-header class="mb-3">
    <mat-card-title>Statistiques d'achat</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="chart-container"><canvas id="achats-canvas">{{ linechart }}</canvas></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary">Voir plus ...</button>
  </mat-card-actions>
</mat-card>
