<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened mode="side" fixedTopGap="112">
    <div class="container py-2 px-1">
      <mat-nav-list>
        <a mat-list-item routerLink="/administration/departements-postes"><mat-icon matListIcon>home</mat-icon> Départements & Postes</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/administration/access"><mat-icon matListIcon>pan_tool</mat-icon> Gestion d'accès</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100%">
    <div class="container">
      <div class="row" style="height: 100%;">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

