:host {
  height: 82vh;
}

.mat-sidenav-content {
  background: #f3e5f5;
}

.mat-sidenav-container {
  height: 82vh;
}

.mat-sidenav {
  height: 82vh;
}

/*# sourceMappingURL=administration.component.css.map */
