<h2 mat-dialog-title>Création d'un nouveau poste</h2>
<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field class="w-90">
          <mat-label>Département</mat-label>
          <mat-select [(ngModel)]="data.selectedDept.id">
            <mat-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field class="w-90">
          <mat-label>Nom</mat-label>
          <input type="text" matInput [(ngModel)]="data.nom">
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" *ngIf="!data.edited">Créer</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" *ngIf="data.edited">Sauver</button>
</mat-dialog-actions>
