<div class="container">
  <div class="row d-flex justify-content-center mt-3 mb-3">
    <div class="col-lg-4">
      <app-employes-stats></app-employes-stats>
    </div>
    <div class="col-lg-4">
      <app-achats-stats></app-achats-stats>
    </div>
    <div class="col-lg-4">
      <app-ventes-stats></app-ventes-stats>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-lg-8">
      <app-etat-stats-annuel></app-etat-stats-annuel>
    </div>
  </div>
</div>
