<div class="container p-2" style="height: 100%;">
  <div class="row d-flex justify-content-center" style="height: 100%;">
    <div class="col-lg-6 mb-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Départements</mat-card-title>
          </mat-card-title-group>
          <mat-menu #deptCardMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="showAllDept()">Voir tout</button>
          </mat-menu>
          <div fxFlex></div>
          <div>
            <button mat-icon-button  (click)="openNewDeptDialog()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="deptCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

        </mat-card-header>
        <mat-card-content style="height: 300px;overflow-y: scroll;">
          <table mat-table [dataSource]="departmentsDataSource" style="width: 100%;" class="mat-table-hover">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let dept">{{ dept.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let dept" (click)="getPostes(dept)">{{ dept.name }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let dept">
                <mat-menu #menuDeptRow="matMenu" xPosition="before" yPosition="below">
                  <button mat-menu-item (click)="modifyDepartement(dept)">
                    <mat-icon>create</mat-icon>
                    Modifier
                  </button>
                  <button mat-menu-item (click)="deleteDepartement(dept)">
                    <mat-icon>clear</mat-icon>
                    Supprimer
                  </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="menuDeptRow">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayDeptRow; sticky: true"></tr>
            <tr mat-row *matRowDef="let deptData; columns: columnsToDisplayDeptRow"></tr>
          </table>
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator #deptPaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-lg-6 mb-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Postes</mat-card-title>
            <mat-card-subtitle *ngIf="selectedDepartment">(Département: {{ selectedDepartment.name }})
            </mat-card-subtitle>
          </mat-card-title-group>
          <mat-menu #posteCardMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="showAllDept()">Settings</button>
          </mat-menu>
          <div fxFlex></div>
          <div>
            <button mat-icon-button  (click)="openNewPosteDialog()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="posteCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content style="height: 300px; overflow-y: scroll;">
          <table mat-table [dataSource]="postesDataSource" style="width: 100%;">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let poste">{{ poste.id }}</td>
            </ng-container>
            <ng-container matColumnDef="dept">
              <th mat-header-cell *matHeaderCellDef>Département</th>
              <td mat-cell *matCellDef="let poste">{{ poste.departement.name }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let poste">{{ poste.name }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let poste">
                <mat-menu #menuPosteRow="matMenu" xPosition="before" yPosition="below">
                  <button mat-menu-item (click)="modifyPoste(poste)">
                    <mat-icon>create</mat-icon>
                    Modifier
                  </button>
                  <button mat-menu-item (click)="deletePoste(poste)">
                    <mat-icon>clear</mat-icon>
                    Supprimer
                  </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="menuPosteRow" aria-label="Plus d'options">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayPoste; sticky: true"></tr>
            <tr mat-row *matRowDef="let poste; columns: columnsToDisplayPoste"></tr>
          </table>

        </mat-card-content>
        <mat-card-footer>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
