table {
  width: 100%;
}

.mat-table-hover .mat-row:hover {
  background: #f3e5f5;
  cursor: pointer;
}

.mat-column-action {
  width: 50px;
}

/*# sourceMappingURL=departements-postes.component.css.map */
